body{
    font-family: sans-serif;
    background-image: url("pr.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.name{
    width:480px;
    margin:auto;
    border-radius: 75px;
    background-color: rgba(0, 0, 0, 0.1);
}
.head{
    text-align: center;
    padding-top: 25px;
}
.head h1{
    color: #333;
    font-size: 45px;
    margin-bottom: 80px;
}
.main{
    text-align: center;
}

.main input, button{
    width: 300px;
    height: 40px;
    outline: none;
    border:none;
    padding-left:40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 40px;
}
.main button{
    padding-left: 0;
    background-color: #83acf1;
    letter-spacing: 1px;
    font-weight: bold;

}
.main button:hover{
    box-shadow: 2px 2px 5px #555;
}
.main span{
    position: relative ;
}
.main i{
    position:absolute;
    left:15px;
    color:#333;
    font-size:16px;
    top: 2px;
}